<h2>Employee List</h2>
<table border="1">

<button (click)="create()">Add Employee</button>

  <button (click) ="loadEmployees()">Get Employee</button>


<table>
  <tr>
    <th>ID</th>
    <th>Firstname</th>
    <th>Lastname</th>
    <th>Emailid</th>
    <th>Mobileno</th>
    <th>Actions</th>
  </tr>

  <tr *ngFor="let emp of employees">
    <td>{{ emp.id }}</td>
    <td>{{ emp.firstname }}</td>
    <td>{{ emp.lastname }}</td>
    <td>{{ emp.emailid }}</td>
    <td>{{ emp.monbno }}</td>
    <td>
      <button (click)="edit(emp.id!)">Edit</button>
      <button (click)="onDelete(emp.id!)">Delete</button>
    </td>
  </tr>

</table>
