<table style="border:2px solid black">
<tr>
  <th style="border:2px solid black">ID</th>
  <th style="border:2px solid red">Firstname</th>
  <th style="border:2px solid red">Lastname</th>
  <th style="border:2px solid red">Emailid</th>
  <th style="border:2px solid red">Mobileno</th>
  <th style="border:2px solid red">Actions</th>
</tr>
