<div class="container">
  <h2 *ngIf="!id">Create Employee</h2>
  <h2 *ngIf="id">Edit Employee</h2>

  <form [formGroup]="form" (ngSubmit)="submit()">


    <input
      type="text"
      formControlName="firstname"
      placeholder="First Name"
    />

    <input
      type="text"
      formControlName="lastname"
      placeholder="Last Name"
    />

    <input
      type="email"
      formControlName="emailid"
      placeholder="Email"
    />

    <input
      type="number"
      formControlName="monbno"
      placeholder="Mobile Number"
    />

    <button type="submit">
      {{ id ? 'Update' : 'Create' }}
    </button>


    <button type="button" (click)="cancel()">Cancel</button>
  </form>
</div>
